### Data preparation

In [76]:
import pandas as pd
import os

In [77]:
os.chdir("D:\Practice\Project-7\structuring_ds_projects")
df = pd.read_csv("data_given/adm_data.csv")
print(df.shape)
df.head()

(400, 9)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [78]:
df.columns = [i.strip() for i in df.columns]

In [79]:
q1 = df["LOR"].describe()[4]
q3 = df["LOR"].describe()[6]
iqr = q3 - q1
lor_upper_limit = q3 + 1.5*(iqr)
lor_lower_limit = q1 - 1.5*(iqr)

q1 = df["CGPA"].describe()[4]
q3 = df["CGPA"].describe()[6]
iqr = q3 - q1
cgpa_upper_limit = q3 + 1.5*(iqr)
cgpa_lower_limit = q1 - 1.5*(iqr)

lor_drop_indices = list(df[(df["LOR"]>lor_upper_limit) | (df["LOR"]<lor_lower_limit)].index)
cgpa_drop_indices = list(df[(df["CGPA"]>cgpa_upper_limit) | (df["CGPA"]<cgpa_lower_limit)].index)

indices_to_drop = lor_drop_indices + cgpa_drop_indices
df.drop(indices_to_drop, inplace=True)

In [80]:
df.drop(["Serial No.", "TOEFL Score"], axis=1, inplace=True)
print(df.shape)
df.head()

(398, 7)

   GRE Score  University Rating  SOP  LOR  CGPA  Research  Chance of Admit
0        337                  4  4.5  4.5  9.65         1             0.92
1        324                  4  4.0  4.5  8.87         1             0.76
2        316                  3  3.0  3.5  8.00         1             0.72
3        322                  3  3.5  2.5  8.67         1             0.80
4        314                  2  2.0  3.0  8.21         0             0.65

In [81]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                        df.iloc[:,:-1], df.iloc[:,-1], 
                                        train_size=0.7,
                                        random_state=3)

In [82]:
from sklearn.preprocessing import StandardScaler
import numpy as np

gre_scaler = StandardScaler()
cgpa_scaler = StandardScaler()

X_train["GRE Score"] = gre_scaler.fit_transform(np.array(X_train["GRE Score"]).reshape(-1,1))
X_test["GRE Score"] = gre_scaler.transform(np.array(X_test["GRE Score"]).reshape(-1,1))

X_train["CGPA"] = cgpa_scaler.fit_transform(np.array(X_train["CGPA"]).reshape(-1,1))
X_test["CGPA"] = cgpa_scaler.transform(np.array(X_test["CGPA"]).reshape(-1,1))

### Modeling

In [83]:
import pycaret

ModuleNotFoundError: No module named 'pycaret'